{%- extends "_marketing/_layout"-%}
{%html at head%}
{% sproutseo 'optimize' %}
{%endhtml%}
{%- block head-%}
	<link href="/_marketing/css/home.css?v=3" type="text/css" rel="stylesheet" /> 
{%- endblock -%}
{%css%}
	.comparison-section{margin-top:50px;}
	.compare-item .pink-bg p span, .compare-item .pink-bg small{color:#FF0000;}
	.comparison-sliderwrap .slick-track{display: flex !important; display: -webkit-box; display: -ms-flexbox;}
	.comparison-sliderwrap .slick-slide{height: inherit !important;}
	.compare-item .pink-bg p span,
	.compare-item .pink-bg small{color:#FF0000;}
	.compare-item small{font-size: 15px;font-family: 'Rubik', sans-serif;font-weight: normal;font-weight: 300;display:block;margin-bottom:20px;min-height: 28px;}
	@media (max-width:767px){
		.accpre-category-list li{padding-top:10px;}
		.content-filter-preference{margin-bottom:30px;}
	}
	@media (max-width: 480px){
	 .comparison-sliderwrap .accpre-category-boxdiv{min-height:320px;padding:90px 10px 20px;}
	  .comparison-sliderwrap .accpre-category-boxdiv h4,.compare-item small{margin-bottom:10px;}
	  .compare-item small{font-size:12px;}
	  
	}
	@media (max-width: 400px){
		.comparison-sliderwrap .accpre-category-boxdiv{min-height:300px;}
		.comparison-sliderwrap .slick-slide{padding:0 7px;}
		.comparison-sliderwrap .accpre-category-boxdiv h4{margin-bottom:0;}
	}
	@media (max-width: 360px){
		.comparison-sliderwrap .accpre-category-boxdiv h4, .comparison-sliderwrap .accpre-category-boxdiv h4.fsm{font-size:15px;}
		.comparison-sliderwrap .accpre-category-boxdiv{min-height:270px;padding:70px 10px 20px;}
		.comparison-sliderwrap	.compare-item small{margin-bottom:5px;}
		.comparison-title{font-size:25px;}
	}
	@media (max-width: 340px){
		.comparison-sliderwrap .accpre-category-img{height:125px;}
	}
{%endcss%}
{%- block main -%}
{% import '/_marketing/_macros' as tcbMacro %}
<section class="homerbanner-section">
<div class="homebanner-slider">
	{%- if entry.heroSlider is not empty -%}
		{%- for block in entry.heroSlider.all() -%}
			<div>
				<div class="banner-slidediv">
					{%- set img ='' -%}				
					{%- set bgPosition = '' -%}
					{%- if block.image is not empty and block.image.one() is not null-%}
						{%- set img = block.image.one() -%}		
						{% set bgPosition= img ? img.hasFocalPoint?img.getFocalPoint().x * 100 ~ '% ' ~ img.getFocalPoint().y * 100 ~ '%':'center center':'center center' %}
						{%- set img = img.getUrl('resizeTo1920px')-%}
					{%- endif -%}
					<div class="banner-bgdiv" {%if img is not empty%}style="background-image: url({{img}});background-position:{{bgPosition}}"{%endif%}></div>
					<div class="banner-content">
						{%- if block.heading is not empty -%}
						<div class="banner-title">
							{{block.heading|nl2br|raw}}
						</div>
						{%- endif -%}
						{%- if block.subHeading is not empty -%}
						<h3>{{block.subHeading}}</h3>
						{%- endif -%}
						
						{{tcbMacro.button(block,'defult-btn pink-bg')}}	
					</div>
				</div>
			</div>
		{%- endfor -%}
	{%- endif -%}
</div>
<div class="homerbanner-iconover">
	<img src="/_marketing/images/TCB_Heart_Light_Grey.svg" alt="TCB" />
</div>
</section>

{%- if entry.homeContents is not empty -%}
	{%- for i in entry.homeContents.all() -%}
		{%- switch i.type -%}
			{%- case "module1" -%}
				<section class="daily-inspiration" oncopy="Copyright.showContext();return false;">
					<div class="container">
						<div class="row">
						   <div class="col-lg-6 col-md-12">
							  <div class="img-daily-inspiration animation-element">
									{%- if i.phoneAnimationImage is not empty and i.phoneAnimationImage.one() is not null -%}
									<img src="{{i.phoneAnimationImage.one().url}}" alt="TCB" />
									{%- endif -%}
							  </div>
						   </div>
						   <div class="col-md-12 col-lg-6">
							   <div class="daily-inspiration-content animation-element">
									<div class="daily-tcbicon">
										<img src="/_marketing/images/TCB_Heart_Light_Grey.svg" alt="TCB" />
									</div>
									<h4>{{i.paragraph}}</h4>																		
									{{tcbMacro.button(i,'defult-btn pink-bg')}}															
							   </div>
						   </div>
					   </div>
					</div>
					</section>
			{%- case "module2" -%}
				<section class="nutritious receipes" oncopy="Copyright.showContext();return false;">
				<div class="nutritious-bgdiv">
					{%- set bgleft = (i.backgroundImageLeftDessktop is not empty and i.backgroundImageLeftDessktop.one() is not null) ? i.backgroundImageLeftDessktop.one().url : '' -%}
					{%- set bgright = (i.backgroundImageRightDesktop is not empty and i.backgroundImageRightDesktop.one() is not null) ? i.backgroundImageRightDesktop.one().url : '' -%}
					{%- set bgleftmobile = (i.backgroundImageLeftMobile is not empty and i.backgroundImageLeftMobile.one() is not null) ? i.backgroundImageLeftMobile.one().url : '' -%}
					{%- set bgrightmobile = (i.backgroundImageRightMobile is not empty and i.backgroundImageRightMobile.one() is not null) ? i.backgroundImageRightMobile.one().url : '' -%}
					<div class="desk-left-img" {%if bgleft is not empty%}style="background-image: url({{bgleft}});"{%endif%}></div>
					<div class="desk-right-img" {%if bgright is not empty%}style="background-image: url({{bgright}}"{%endif%}></div>
					<div class="mob-left-img" {% if bgleftmobile is not empty%}style="background-image: url({{bgleftmobile}});"{%endif%}></div>
					<div class="mob-right-img" {%if bgrightmobile is not empty%}style="background-image: url({{bgrightmobile}});"{%endif%}></div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-12 nutritious-receipes-col animation-element">
							{%- if i.phoneAnimationImage is not empty and i.phoneAnimationImage.one() is not null -%}
							<img src="{{i.phoneAnimationImage.one().url}}" alt="TCB" />
							{%- endif -%}
						</div>
						<div class="col-lg-6 col-md-12 nutritious-receipes-content animation-element">
						  <div class="nutritious-receipe">
							  {%if i.heading is not empty%}<h2>{{i.heading}}</h2>{%endif%}
							  {%if i.subheading is not empty%}<h4>{{i.subheading}}</h4>{%endif%}							  
							  {{i.paragraph}}
							  {{tcbMacro.button(i,'defult-btn pink-bg')}}							  	
						  </div>
						</div>
					</div>
				</div>
				</section>
			{%- case "dietModule" -%}
				<section class="filter-preference-section" oncopy="Copyright.showContext();return false;">
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-12 filter-preference-col">
								<div class="filter-preference-wrapbox animation-element">
									<ul class="accpre-category-list filter-category-slider">
										{%- include "_marketing/_includes/diet-icons" -%}										
									</ul>
								</div>
							</div>
							<div class="col-lg-6 col-md-12 filter-preference-content">
								<div class="content-filter-preference animation-element">
									<div class="daily-tcbicon">
										<img src="/_marketing/images/TCB_Heart_Light_Grey.svg" alt="TCB" />
									</div>
									{%if i.heading is not empty%}<h2>{{i.heading}}</h2>{%endif%}
									{{i.paragraph}}
								</div>
							</div>
						</div>
					</div>
					</section>
			{%- case "module4" -%}
				<section class="my-groceries-section" oncopy="Copyright.showContext();return false;">
					<div class="groceries-bgdiv">
						{%- set bgleft = (i.backgroundImageLeftDesktop is not empty and i.backgroundImageLeftDesktop.one() is not null) ? i.backgroundImageLeftDesktop.one().url : '' -%}
					{%- set bgright = (i.backgroundImageRightDesktop is not empty and i.backgroundImageRightDesktop.one() is not null) ? i.backgroundImageRightDesktop.one().url : '' -%}
					{%- set bgleftmobile = (i.backgroundImageLeftMobile is not empty and i.backgroundImageLeftMobile.one() is not null) ? i.backgroundImageLeftMobile.one().url : '' -%}
					{%- set bgrightmobile = (i.backgroundImageRightMobile is not empty and i.backgroundImageRightMobile.one() is not null) ? i.backgroundImageRightMobile.one().url : '' -%}
					<div class="desk-left-img" {%if bgleft is not empty%}style="background-image: url({{bgleft}});"{%endif%}></div>
					<div class="desk-right-img" {%if bgright is not empty%}style="background-image: url({{bgright}}"{%endif%}></div>
					<div class="mob-left-img" {% if bgleftmobile is not empty%}style="background-image: url({{bgleftmobile}});"{%endif%}></div>
					<div class="mob-right-img" {%if bgrightmobile is not empty%}style="background-image: url({{bgrightmobile}});"{%endif%}></div>
					
					</div>
					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-12 animation-element">
								{%- if i.phoneAnimationImage is not empty and i.phoneAnimationImage.one() is not null -%}
								<img src="{{i.phoneAnimationImage.one().url}}" alt="TCB" />
								{%- endif -%}
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="content-my-groceries animation-element">
									<div class="daily-tcbicon">
										<img src="/_marketing/images/TCB_Heart_Light_lime.svg" alt="TCB" />
									</div>
									{%- if i.heading is not empty -%}<h2>{{i.heading}}</h2>{%- endif -%}
									
									{{i.subHeading}}
									
									{{tcbMacro.button(i,'defult-btn pink-bg')}}									
								</div>
							</div>
						</div>
					</div>
					</section>
			{%- case "module5" -%}
				<section class="hot-topics-section" oncopy="Copyright.showContext();return false;">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="hot-topics-content">
								{%if i.heading is not empty%}<h2 class="animation-element">{{i.heading}}</h2>{%endif%}
								{%if i.subHeading is not empty%}<h4 class="animation-element">{{i.subHeading}}</h4>{%endif%}
								{%if i.paragraph is not empty%}<p class="animation-element">{{i.paragraph}}</p>{%endif%}
								{{tcbMacro.button(i,'defult-btn pink-bg')}}	
							</div>
						</div>
					</div>
				</div>
				</section>
			{%- case "priceModule" -%}
				{%- set img ='' -%}				
					{%- set bgPosition = '' -%}
					{%- if i.backgrounImage is not empty and i.backgrounImage.one() is not null-%}
						{%- set img = i.backgrounImage.one() -%}		
						{% set bgPosition= img ? img.hasFocalPoint?img.getFocalPoint().x * 100 ~ '% ' ~ img.getFocalPoint().y * 100 ~ '%':'center center':'center center' %}
						{%- set img = img.getUrl('resizeTo1920px')-%}
					{%- endif -%}
				<section class="price-section" {%if img is not empty%}style="background-image:url({{img}});background-position:{{bgPosition}};"{%endif%}>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="sign-icon text-center mb-md-3 mb-5"><img src="/_marketing/images/dot-white/sign-icon-w.png" class="text-center" alt=""></div>
								{%if i.heading is not empty%}<h2 class="animation-element text-center mb-4 d-md-block d-none">{{i.heading}}</h2>{%endif%}
								<div class="price-btn-wrp row flex-md-nowrap">
									<div class="preemiun col-md-6 text-md-right text-center mb-md-0 mb-5 pr-lg-5 pr-md-4">
										<div class="d-inline-block">
											<a href="https://www.app.transformationcookbook.com/account/registration" class="plan-btn mb-5">{{i.freeColumnText}}</a>
											<div class="content-include text-left">	
												{%- if i.freeColumnInclusions|length -%}
												<ul>
													{%- for r in i.freeColumnInclusions-%}	
														<li>{{r.text}}</li>
													{%- endfor -%}
												</ul>
												{%- endif -%}
											</div>
											<div class="text-center btn-wrap">
												<a href="/free-registration-redirect" class="defult-btn text-uppercase">{{i.freeColumnButtonText}}</a>
											</div>
										</div>
									</div>
									<div class="go-pro col-md-6 text-left pl-lg-5 pl-md-4 pt-md-0 pt-5">
										<h2 class="animation-element text-center mb-5 d-md-none d-block">{{i.heading}}</h2>
										<a href="/marketing/select-plan" class="plan-btn mb-4">
											<span class="pro-text">go pro!</span>
											<span class="price">{{i.goProPrice}}</span>
											<span class="month">/month</span>
										</a>
										<p>{{i.goProSmallTextLine1}} <br>{{i.goProSmallTextLine2}}</p>
										<div class="content-include">
											{%- if i.goProInclusions2|length -%}
											<ul class="text-left">
												{%- for r in i.goProInclusions2 -%}
													<li>{{r.text}}</li>
												{%- endfor -%}
											</ul>
											{%- endif -%}
										</div>
										<div class="text-md-left text-center btn-wrap">
											<a href="/marketing/select-plan" class="defult-btn text-uppercase">{{i.goProButtonText}}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			{%- case "testimonialModule" -%}				
				{%- include "_marketing/_includes/testimonials"-%}
			{%- case "callToAction"-%}
				{%- if i.item is not empty and i.item.one() is not null -%}
					{%- include "_marketing/_includes/cta2" with {cta:i.item.one()}-%}
				{%- endif -%}
			{% case "comparisonV2"%}
				{%- if i.comparisonEntries is not empty -%}				
				<section class="comparison-section" >
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="comparison-content">
									<img src="/_marketing/images/tcb-eye-logo.png" alt="image">
									<div class="comparison-title">TRANSFORMATIONS</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="comparison-sliderwrap">
									<div class="accpre-category-list comparison-slider">
										{%- for s in i.comparisonEntries.all() -%}
											<div class="compare-item">										
													<div class="accpre-category-img">
													{%- if s.image is not empty and s.image.one() is not null-%}
														<img src="{{s.image.one().getUrl('resizeTo300px')}}" alt="image">
													{%- endif -%}
														<div class="homerbanner-iconover">
															<img src="/_marketing/images/TCB_Heart_Light_Grey.svg" alt="TCB">
														</div>
													</div>
												<div class="accpre-category-boxdiv">
													{%- set fontsize = (s.textbox|length >= 27) ? 'fsm' : '' -%}
													<h4 class="{{fontsize}}">{{s.textbox}}</h4>
													{%- if s.textbox2 is not empty -%}
													<small>{{s.textbox2}}</small>
													{%- endif -%}
													<div class="nutri-box">
													{%if s.textbox3 is not empty%}<p><span>{{s.textbox3}}</span></p>{%endif%}
													{%if s.textbox4 is not empty%}<p>Protein - <span>{{s.textbox4}}</span></p>{%endif%}
													{%if s.textbox5 is not empty%}<p>carbs - <span>{{s.textbox5}}</span></p>{%endif%}
													{%if s.textbox6 is not empty%}<p>Fat - <span>{{s.textbox6}}</span></p>{%endif%}
													</div>
												</div>									
											</div>
											
											<div class="compare-item">										
													<div class="accpre-category-img">
														{%- if s.image2 is not empty and s.image2.one() is not null-%}
															<img src="{{s.image2.one().getUrl('resizeTo300px')}}" alt="image">
														{%- endif -%}
													</div>
													<div class="accpre-category-boxdiv pink-bg">
													{%- set fontsize = (s.textbox7|length >= 27) ? 'fsm' : '' -%}
													<h4 class="{{fontsize}}">{{s.textbox7}}</h4>
													{%- if s.textbox8 is not empty -%}
													<small>{{s.textbox8}}</small>
													{%- endif -%}
													<div class="nutri-box">
													{%if s.textbox9 is not empty%}<p><span>{{s.textbox9}}</span></p>{%endif%}
													{%if s.textbox10 is not empty%}<p>Protein - <span>{{s.textbox10}}</span></p>{%endif%}
													{%if s.textbox11 is not empty%}<p>carbs - <span>{{s.textbox11}}</span></p>{%endif%}
													{%if s.textbox12 is not empty%}<p>Fat - <span>{{s.textbox12}}</span></p>{%endif%}
													</div>
												</div>									
											</div>
											
										{%- endfor -%}
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>	
				{%- endif -%}
		{%- endswitch -%}
	{%- endfor -%}
{%- endif -%}


{%- endblock -%}