{%extends "_layout_onboarding"%}
{% block main %}
<div class="page-wrapper">		
	<div class="account-preference-wrap sigin-in-wrap">
		<div class="accpre-image">
			{%- set img = '' -%}
			{%- if onboarding.image2 is not empty and onboarding.image2.one() is not null  -%}
				{%- set img = onboarding.image2.one() -%}
				{% set bgPosition= img ? img.hasFocalPoint?img.getFocalPoint().x * 100 ~ '% ' ~ img.getFocalPoint().y * 100 ~ '%':'center center':'center center' %}
			{%- endif -%}
			<div class="accpre-bg" {%if img is not empty %}style="background-image: url({{img.url}});background-position:{{bgPosition}}"{%endif%}>
				<div class="b-sign"></div>
			</div>
		</div>
		<div class="accpre-content">
				<div class="bubblebg-wrap">		
					<div class="bubble b-sm x15"></div>		    
				    <!-- div class="bubble b-sign x1"></div -->
				    <div class="bubble b-lg x2"></div>
				    <div class="bubble b-lg x3"></div>
				    <div class="bubble b-sm x4"></div>
				    <div class="bubble b-md x5"></div>
				    <div class="bubble b-sm x6"></div>
				    <div class="bubble b-sm x8"></div>
				    <div class="bubble b-md x9"></div>
				    <div class="bubble b-exlg x10"></div>
				    <div class="bubble b-md x11"></div>
				    <div class="bubble b-lg x12"></div>
				    <div class="bubble b-sm x13"></div>
				    <div class="bubble b-exlg x14"></div>
				</div>
				<div class="accpre-content-inner">
					<div class="bubble b-sign"></div>			
					<a href="javascript:void(0);" class="d-block"><img src="/images/TCB-logo-pink.png?v=5" alt="TCB" class="logo-img" /></a>
					{% if craft.app.session.hasFlash('notice') %}
						<p style="color: #FFF;margin-bottom:20px;background: #1cb14d;padding: 10px 20px;border-radius: 6px;">{{ craft.app.session.getFlash('notice') }}</p>
					{% elseif craft.app.session.hasFlash('error') %}
						<p style="color: #FFF;margin-bottom:20px;background: #FF0000;padding: 10px 20px;border-radius: 6px;">{{ craft.app.session.getFlash('error') }}</p>
					{% endif %}
					  {% if errors is defined %}
						{{ ul(errors, {class: 'errors', style:'color:#FF0000;margin-bottom:20px;'}) }}
					  {% endif %}
					<form class="sigin-in-form" method="post" accept-charset="UTF-8">
						  {{ csrfInput() }}
						  {{ actionInput('users/send-password-reset-email') }}
						  {{ redirectInput('/login') }}
						<div class="form-group">
							<input type="email" name="loginName" placeholder="Email Address" class="form-control" required/>
						</div>
						<div class="text-center">
							<input type="submit" class="defult-btn" value="Reset Password" />
						</div>
					</form>		
				</div>				
			</div>
	</div>
</div>
{% endblock %}

