{% extends "_marketing/_layout" %}
{# <!--
{% html at head %}
	<title>{{entry.title}} - Transformation Cook Book</title>
	{%- set metaimg = 'https://www.transformationcookbook.com/siteassets/Onboarding/_resizeTo1920px/Shar-Shopping-3-Edited-hompeage.jpg'-%}
	{%- if entry.mainHeaderImage is not empty and entry.mainHeaderImage.one() is not null -%}
		{%- set img = entry.mainHeaderImage.one() -%}
		{%- set metaimg = img.getUrl('resizeTo1025px') -%}
	{%- endif -%}
	<meta name="description" content="{{entry.textEditorFull|striptags}}">
    <meta property="og:type" content="website">
	<meta property="og:site_name" content="Transformation Cook Book">
	<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
	<meta property="og:title" content="{{entry.title}} - Transformation Cook Book">
	<meta property="og:description" content="{{entry.textEditorFull|striptags}}">
	<meta property="og:image" content="{{metaimg}}">
	<meta property="og:image:secure_url" content="{{metaimg}}">
	<meta property="og:image:width" content="1200"/>
	<meta property="og:image:height" content="630"/>
	<meta property="og:image:type" content="image/png">
	<meta property="og:locale" content="en-US">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{entry.title}} - Transformation Cook Book">
	<meta name="twitter:description" content="{{entry.textEditorFull|striptags}}">
	<meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}">
	<meta name="twitter:image" content="{{metaimg}}"> 	
{% endhtml %}
--> #}
{% css "/_marketing/css/general.css" %}

{% block main %}
	{% import '_macros' as tcbMacro %}
	<section class="recipes-bgsection">
		<div class="recipes-bgdiv">
			{{tcbMacro.setBannerImageHotTopic(entry)}}
		</div>
	</section>
	<section class="recipes-description-section" oncopy="Copyright.showContext();return false;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="recipes-descontent mb-5">							
						<div class="fav-recipe-content">
							<div class="recipe-textdiv">Hot Topic</div>
							<h2>{{entry.title}}</h2>								
						</div>
					</div>						
					<div class="defult-content">
						{{entry.textEditorFull}}							
					</div>						
				</div>
			</div>
		</div>
	</section>
	{%- set uri = craft.app.request.absoluteUrl -%}
	{%- set isLivePreview = 0 -%}
	{%- if 'craft-live-preview' in uri or 'craft-preview' in uri-%}
		{%- set isLivePreview = 1 -%}
	{%- endif -%}
	
	{%- if not entry.freeAccess and isLivePreview == 0 -%}
		{%- set gopro = craft.entries.section('callToActionMarketing').slug('elevate-your-cooking').one() -%}
		{%- if gopro is not empty -%}
			{%- include "_marketing/_includes/cta2" with {cta:gopro}-%}
		{%- endif -%}
	{%- else -%}
		{%- for block in entry.articlePageModules.all() -%}
			{%- if block.type == 'fullTextEditor'-%}
				<section class="recipes-description-section" oncopy="Copyright.showContext();return false;">
					<div class="container">
						<div class="row">
							<div class="col-md-12">						
								<div class="defult-content">					
									{{block.contents}}
								</div>
							</div>
						</div>
					</div>
				</section>
			{%- elseif block.type == 'callToAction'-%}
				{%- if block.item is not empty and block.item.one() is not null -%}
					{{tcbMacro.cta(block.item.one())}}
				{%- endif -%}				
			{%- elseif block.type == 'beforeAfter'-%}
				<section class="afterbefore-section" oncopy="Copyright.showContext();return false;">
					<div class="container">
						<div class="row">
							<div class="col-md-12">	
								<div class="afterbefore-imgwrap">
									<div class="afterbefore-imgdiv">
										<div class="afterbefore-bg">
											{%- if block.beforeImage is not empty and block.beforeImage.one() is not null -%}
											<img src="{{block.beforeImage.one().url}}" alt="image">
											{%- endif -%}
										</div>
										<h3>{{block.captionBefore}}</h3>
									</div>
									<div class="afterbefore-imgdiv">
										<div class="afterbefore-bg">
											{%- if block.afterImage is not empty and block.afterImage.one() is not null -%}
											<img src="{{block.afterImage.one().url}}" alt="image">
											{%- endif -%}
										</div>
										<h3>{{block.captionAfter}}</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			{%- endif -%}
		{%- endfor -%}
		{%- if entry.authorx is not empty -%}
		<section class="recipes-description-section" oncopy="Copyright.showContext();return false;">
			<div class="container">
				<div class="row">
					<div class="col-md-12">	
						<div class="defult-content">
							<!--<p>GO TO SHAR'S BLOG <a href="#">What do I Eat</a></p>-->
							<p>FOLLOW {{entry.authorx.one().title}}</p>
							<ul class="footer-social">
								{%if entry.authorx.one().textbox is not empty %}<li><a href="{{entry.authorx.one().textbox}}" class="svg-fill" target="_blank"><img src="/images/facebook-icon.svg" alt="facebook" /></a></li>{%endif%}
								{%if entry.authorx.one().textbox2 is not empty %}<li><a href="{{entry.authorx.one().textbox2}}" class="svg-fill" target="_blank"><img src="/images/instagram-icon.svg" alt="instagram" /></a></li>{%endif%}
								{%if entry.authorx.one().textbox3 is not empty %}<li><a href="{{entry.authorx.one().textbox3}}" class="svg-fill" target="_blank"><img src="/images/twitter-icon.svg" alt="twitter" /></a></li>{%endif%}
								{%if entry.authorx.one().textbox4 is not empty %}<li><a href="{{entry.authorx.one().textbox4}}" class="svg-fill" target="_blank"><img src="/images/Youtube_button.svg" alt="youtube" /></a></li>{%endif%}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		{%- endif -%}
	{%- endif -%}
<p>&nbsp;</p>
{%- include "_includes/sidebar-social-share" -%}
<div class="invisible"><div class="sharethis-inline-share-buttons" data-url="{{craft.app.request.absoluteUrl}}" data-title="{{entry.title}}" data-image="{{metaimg}}" data-description="{{entry.textEditorSimple|striptags}}"></div></div>
{%- set getstarted = craft.entries.section('callToActionMarketing').slug('get-started').one() -%}
{%- if getstarted is not empty -%}
	{%- include "_marketing/_includes/cta2" with {cta:getstarted}-%}		
{%- endif -%}	
{% endblock %}

{% js "/_marketing/js/general.js" %}